@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, a, textarea, button, option {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.App {
  padding: 50px 0;
}

.title {
  text-align: center;
}